::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: calc(var(--gutter));
}
.newsletter-wrapper {
  display: flex;

  background: #000000;
  color: #fff;
  justify-content: center;
  height: 20rem;
}
.subscribe-section {
  text-align: center;
  margin: 0 auto;
}
.subscribe-section p {
  color: #e3cdb1;
  font-family: "Poppins";
  margin: 0 auto;
}

.subscribe-section h3 {
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
body {
  margin: 0;
}
.email {
}

.email p {
  margin: 0 auto;

  font-family: "Poppins";
  margin-top: 2rem;
}
.email-input {
  margin: 0 auto;
}

.subscribe-button {
  background-color: #000000;
  color: #e3cdb1;
  border: 1px solid hsl(34, 47%, 79%);
  height: 50px;
  width: 80%;

  margin-top: 2rem;
  justify-self: center;
}

.subscribe-buttondiv {
  text-align: center;
}

.email-form {
  font-size: 1.5em;
  color: #fff;

  font-family: "Playfair Display", serif;

  border: 0px solid black;
  border-bottom: 1px solid #e3cdb1;
  background-color: #000000;

  text-align: left;
  width: 100%;
}
@media (min-width: 800px) {
  .newsletter-content {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .subscribe-section {
    margin: auto;
    grid-column: 1 / span 5;
  }
  .email {
    grid-column: 6 / span 3;
  }
  .subscribe-buttondiv {
    margin: auto;
    grid-column: 9 / span 4;
  }
  .email p {
    margin-top: 0;
  }
  .subscribe-buttondiv {
    margin-top: 0;
    width: 80%;
  }
}
