<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./newsletter.css" />
    <title>Document</title>
  </head>


  <div class="newsletter-wrapper">
    <div class="newsletter-content">
      <div class="subscribe-section">
        <div class="kicker">Craving more?</div>
        <h3>Subscribe to our newsletter</h3>
      </div>
      <div class="email">
        <div class="kicker">Email</div>
        <input class="email-form" type="text" name="text" placeholder="Enter your mail here" />
      </div>
      <button class="subscribe-button">Subscribe now</button>
    </div>
  </div>

  
</html>
