.newsletter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #FFF;
    width: 100%;
    height: 339px;
  
  }
  
  .newsletter-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  h3 {
    font-size: 2em;
  }
  
  
  .subscribe-button {
    background-color: #000000;
    color: #E3CDB1;
    border: 1px solid hsl(34, 47%, 79%);
    height: 50px;
    padding: 0 5em;
  }
  
  
  .email-form {
    font-size: 1.25em;
    margin-top: 0.5em;
    color: white;
    border: 0px solid black;
    border-bottom: 1px solid white;
    background-color: #000000;
    padding: 1em;
    text-align: left;
    padding: 0 2em 0 0;
  
  }
  
  .email > .kicker {
    color: #FFFFFF
  }
  
  .kicker {
    color: hsl(34, 47%, 79%)
  }
  