# Þetta skjal passar upp á að samræmi verði milli windows og annara stýrikerfa

* text=auto

*.md text
*.css text
*.scss text
*.js text
*.ejs text
*.json text
*.sql text
*.svg text

*.zip  binary
*.gif  binary
*.jpg  binary
*.jpeg binary
*.pdf  binary
*.png  binary
