@charset "UTF-8";
:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: 30px;
}

html {
  background: #fafafa;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  width: 100%;
}
@media (min-width: 800px) {
  .cards {
    flex-direction: row;
  }
}

.card {
  width: 100%;
}
@media (min-width: 800px) {
  .card {
    width: 33.3333333333%;
  }
}

.card p {
  margin: 0;
}

.card-info {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 1rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.card-text .month {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #9b9b9b;
}

.card-text .desc {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

.card-info .card-link {
  display: grid;
  width: 50%;
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;
}

.card-info .card-link a {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #e3cdb1;
  font-size: 16px;
  text-align: right;
  width: 100%;
  padding-block-start: 1.5rem;
}

.card .card-image img {
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */
:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1600px;
  --color-primary: #fafafa;
  --color-header: #fff;
  --color-text: #000;
  --color-body: #5e5b69;
  --color-border: #ccc;
  /* Letur stillingar */
  --font-base-p: 18px;
  --font-base-size: 1rem;
  --font-base-kicker: 16px;
  --font-base-h2: 60px;
  --font-base-nav: 12px;
  --font-family-base: "Poppins", sans-serif;
  --font-family-heading: "Playfair Display", serif;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 155px;
}

.wrapper header {
  background-color: var(--color-primary);
  height: 800px;
}

/* Almennt */
nav {
  display: grid;
  background-color: var(--color-primary);
  order: 2;
  overflow: hidden;
  z-index: 9999;
  grid-template-columns: repeat(var(--columns), 1fr);
}

nav a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #9b9b9b;
}

.yum-yum {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: calc(var(--gutter));
  /* row-gap: var(--gutter); */
  row-gap: 0;
  margin-top: 1rem;
  /* grid-column: 1 / span 2; */
}

.links {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: calc(var(--gutter));
  /* row-gap: var(--gutter); */
  row-gap: 0;
  margin-top: 2rem;
  /* grid-column: 7 / span 2; */
  font-size: var(--font-base-nav);
  /* margin-left: ; */
  font-family: var(--font-family-base);
  color: #9b9b9b;
  font-weight: 400;
  grid-column: 10/13;
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-base-h2);
  font-weight: 700;
  color: #000;
}

p {
  font-family: var(--font-family-base);
  font-size: var(--font-base-p);
  font-weight: 300;
  color: var(--color-body);
}

.hero-kicker {
  font-family: var(--font-family-base);
  font-size: var(--font-base-kicker);
  font-weight: 500;
  color: #e3cdb1;
}

img {
  filter: drop-shadow(0px 2px 74px rgba(0, 0, 0, 0.102893));
}

.hero-img-section {
  display: grid;
  align-content: center;
}

.hero-button {
  display: inline-block;
  /* font-family: var(--font-family-base); */
  text-decoration: none;
  text-align: center;
  color: #e3cdb1;
  background-color: #fafafa;
  border: 1px solid #e3cdb1;
  width: 40%;
  padding: 0.5rem;
  /* stærð 2 dálkar + 2*gutter */
}

.button:hover {
  background-color: #e3cdb1;
  color: white;
}

/* Layout */
.wrapper header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);
  /* min-height: 100vh; */
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 2 * var(--offset));
}

.info-boxes {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  margin-top: 5rem;
  height: 48%;
}

/* Info blokk */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  margin: 0 auto;
  gap: var(--gutter);
  /* color: var(--color-primary); */
}

header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);
}
header .info {
  display: flex;
  flex-direction: row;
  grid-column: 1/span 12;
}
header main {
  height: 40%;
}
header .info-left .content {
  /* order: -1; */
  flex: 1;
}
header .info .content p {
  margin-bottom: calc(var(--spacing) * 2);
  color: #5e5b69;
}
header .hero-content {
  width: 48%;
  display: grid;
  align-content: center;
}
header .info-boxes {
  display: grid;
  gap: calc(var(--gutter));
  row-gap: 0;
}
@media (max-width: 1200px) {
  header .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/cake.png);
  }
  header .hero-img-section {
    visibility: hidden;
  }
}
@media (max-width: 800px) {
  header .wrapper header {
    height: auto;
  }
  header .info-boxes {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
  }
  header .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/cake.png);
  }
  header .hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25%;
    z-index: 2;
    flex-grow: 1;
  }
  header .hero-texts-content {
    text-align: center;
  }
  header .hero-img-section {
    visibility: hidden;
  }
  header h2 {
    font-size: 32px;
  }
  header .hero-p {
    display: none;
  }
  header .hero-button {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: calc(var(--gutter));
}

.recipie {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 13rem;
}

.method h2 {
  margin-bottom: 2rem;
}

.ingredients h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #D0D0D0;
}

.ingredients h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.ingredients-list {
  margin-bottom: 2rem;
}

.ingredients-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.row1 {
  display: flex;
  flex-direction: column;
  font-family: playfair-display, serif;
  font-weight: 800;
  font-size: 18px;
  color: #e3cdb1;
  gap: 1rem;
}

.row2 {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #9b9b9b;
  gap: 1rem;
}

.method {
  max-width: 850px;
}

.method h2 {
  font-family: playfair-display, serif;
  font-weight: 700;
  size: 40px;
  color: #d0d0d0;
}

.method p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #5E5B69;
}

.latest-recipies-titlelist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.latest-recipies-checkbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  margin-top: 1rem;
}

.latest-recipies-checkbox p {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.latest-recipies-checkbox input {
  background: transparent;
  height: 22px;
  margin-right: 1rem;
  width: 22px;
}

.latest-recipies-head h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.latest-recipes .recipes-wrapper {
  margin-block-start: 5rem;
  margin-inline: 1rem;
}
@media (min-width: 800px) {
  .latest-recipes .recipes-wrapper {
    margin-inline: 6rem;
  }
}

nav {
  position: fixed;
  top: 0;
}

.latest-recipes-main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - 2 * var(--offset));
}

.latest-recipe-site .newsletter-wrapper {
  width: 100vw;
  margin-inline: calc(-1 * var(--offset));
}
@media (min-width: 1000px) {
  .latest-recipe-site .newsletter-wrapper {
    margin-inline: calc(-1 * var(--site-margin) - var(--offset));
  }
}

.latest-recipe-site .newsletter-content {
  margin-inline: calc(var(--offset));
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  align-content: center;
}
@media (min-width: 1000px) {
  .latest-recipe-site .newsletter-content {
    margin-inline: calc(1 * var(--site-margin) + var(--offset));
  }
}

.latest-recipe-site .subscribe-section {
  grid-column: 2/span 10;
  text-align: center;
}
@media (min-width: 1000px) {
  .latest-recipe-site .subscribe-section {
    grid-column: 1/span 5;
    text-align: left;
  }
}

.latest-recipe-site .email {
  grid-column: 4/span 6;
}
@media (min-width: 1000px) {
  .latest-recipe-site .email {
    grid-column: 6/span 3;
  }
}

.latest-recipe-site .subscribe-button {
  grid-column: 4/span 6;
  font-size: 16px;
}
@media (min-width: 1000px) {
  .latest-recipe-site .subscribe-button {
    grid-column: 10/span 3;
  }
}

.latest-recipe-site .subscribe-button:hover {
  background-color: #e3cdb1;
  color: white;
}

.latest-recipe-site .subscribe-section {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.see-more-button-cards {
  text-align: center;
  margin-block-start: 3rem;
  margin-block-end: 5rem;
}

.see-more-button-cards a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #e3cdb1;
  padding-block: 1rem;
  padding-inline: 5rem;
  border: 2px;
  border-color: #e3cdb1;
  border-style: solid;
}

.kicker {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e3cdb1;
}

.kicker p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #e3cdb1;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

footer hr {
  width: 70%;
  margin: 0 auto 0 auto;
}

.footer-text {
  text-align: center;
  font-family: "Poppins";
  margin-top: 5rem;
}

.footer-inconlinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: auto;
  margin-top: 1.5rem;
}

.iconborder img {
  height: 30px;
  width: 30px;
  justify-self: center;
}

.iconborder {
  display: flex;
  justify-content: center;
  padding: 1.7rem;
  border: 1px solid #e3cdb1;
  border-radius: 10rem;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
}

.site-name p {
  text-align: center;
  font-family: "Poppins";
  font-weight: 300;
  color: #d6d6d6;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.recipes-wrapper {
  margin-block-start: 30rem;
  margin-inline: 1rem;
}
@media (min-width: 800px) {
  .recipes-wrapper {
    margin-inline: 6rem;
  }
}

nav {
  position: fixed;
  top: 0;
}

/* .book-section {
  display: flex;
  margin-block-end: 15rem;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
  align-items: center;
}

@media (min-width: 800px) {
  .book-section .see-more-button-cards {
    text-align: left;
  }
}

h1 {
  font-size: xx-large;
  align-self: center;
}

.content {
  width: 100vw;
  height: 800px;
  align-items: center;
}

.content-text {
  padding: 5rem 10rem 5rem 10rem;
  align-items: center;
}


.book-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-block: 0;
}

.book-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #5e5b69;
}


.book-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}


.spacer {
  height: 25%;
}
 */
/*  Nýtt version
 */
.book-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f7f1eb;
  align-items: center;
  padding-top: 10em;
  height: 600px;
  margin-bottom: 350px;
}
@media (max-width: 800px) {
  .book-wrapper {
    display: flex;
    flex-direction: row;
    height: 800px;
    padding-top: 30em;
    margin-bottom: 500px;
    align-items: center;
    justify-content: center;
  }
}

.book-section {
  display: flex;
  /* margin-bottom: 350px; */
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 800px) {
  .book-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content {
  width: 40%;
}

.book-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-block: 0;
}

.book-section .see-more-button a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #e3cdb1;
  border: 2px;
  border-color: #e3cdb1;
  border-style: solid;
  width: 100%;
  padding: 15%;
  padding-block: 1rem;
}

.book-section .see-more-button {
  margin-top: 3em;
  text-align: left;
  display: block;
}

img:not(.hero-image) {
  z-index: -2;
}

.video-header-info {
  width: 31%;
  margin-top: 9rem;
  margin-left: 10rem;
}

.recipe-icons {
  display: flex;
  flex-direction: row;
}

.recipe-icons .icon {
  display: flex;
  flex-direction: row;
}

.recipe-icons p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  align-self: center;
  margin-inline-start: 1rem;
  margin-inline-end: 3rem;
}

.recipe-icons svg {
  align-self: center;
}

.video-header {
  display: flex;
  flex-direction: row;
  height: 40rem;
  background-color: #000000;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0)), url("../../images/Bitmap-10.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}

.video-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #9b9b9b;
}

.video-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.video-title h1 {
  margin: 0 auto;
}

.play-button {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  align-self: center;
  position: relative;
  left: 25%;
}

.triangle {
  --a: 2.5em;
  border-left: calc(0.866 * var(--a)) solid #ffffff;
  border-top: calc(var(--a) / 2) solid transparent;
  border-bottom: calc(var(--a) / 2) solid transparent;
  border-right: 0;
  height: 0;
  width: 0;
  position: relative;
  top: 40%;
  left: 43%;
}

.recipe-header-info {
  width: 31%;
  align-self: center;
}

.recipe-icons {
  display: flex;
  flex-direction: row;
}

.recipe-icons .icon {
  display: flex;
  flex-direction: row;
}

.recipe-icons p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  align-self: center;
  margin-inline-start: 1rem;
  margin-inline-end: 3rem;
}

.recipe-icons svg {
  align-self: center;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  height: 40rem;
}

.recipe-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #5e5b69;
}

.recipe-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}

.recipe-title h1 {
  margin: 0 auto;
}

.icon-desc {
  display: flex;
  flex-direction: row;
}

.icon-desc p {
  margin-inline-start: 0.5rem;
  color: #5e5b69;
}

.icon-desc .icon-bold {
  margin-inline-start: 1rem;
  margin-inline-end: 0;
  color: #000000;
}

.cake-img {
  filter: drop-shadow(0px 2px 74px rgba(0, 0, 0, 0.102893));
}

:root {
  --site-margin: 6rem;
}

.recipe-site main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - 2 * var(--offset));
}

.recipe-site nav {
  width: calc(12 * var(--columns) + 11 * var(--gutter));
}

.recipe-site nav .links {
  grid-column: 7/span 3;
}

.recipe-site .recipie {
  margin-block-start: 2rem;
  margin-inline: 0;
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
}
@media (min-width: 1000px) {
  .recipe-site .recipie {
    margin-block-start: 15rem;
  }
}

.recipe-site .recipie .ingredients {
  grid-column: 2/span 10;
}
@media (min-width: 1000px) {
  .recipe-site .recipie .ingredients {
    grid-column: 1/span 3;
  }
}

.recipe-site .ingredients .row1 p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #E3CDB1;
}

.recipe-site .ingredients-list h2 {
  margin-block-end: 3rem;
}

.recipe-site .recipie .method {
  grid-column: 2/span 10;
}
@media (min-width: 1000px) {
  .recipe-site .recipie .method {
    grid-column: 5/span 8;
    max-width: none;
  }
}

.recipe-site .recipie .method h2 {
  font-size: 40px;
}

.recipe-site .recipie .method p {
  margin-block-end: 2rem;
}

.recipe-site .recipie .method br {
  display: block;
  margin-bottom: 4em;
}

.recipe-site .recipe-header {
  display: flex;
  flex-direction: row;
  background-image: url(../images/cake.png);
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .recipe-site .recipe-header {
    background-image: none;
  }
}

.recipe-site .recipe-header-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-site .recipe-header-info .recipe-title h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 1000px) {
  .recipe-site .recipe-header-info .recipe-title h1 {
    text-align: left;
  }
}

.recipe-site .cake-img img {
  width: 0;
}
@media (min-width: 1000px) {
  .recipe-site .cake-img img {
    width: auto;
    grid-column: 7/span 10;
    overflow: visible;
  }
}

.recipe-site .recipe-header .recipe-icons {
  display: flex;
  flex-direction: column;
  order: 3;
}
@media (min-width: 1000px) {
  .recipe-site .recipe-header .recipe-icons {
    flex-direction: row;
    order: 0;
  }
}

.recipe-site {
  margin-inline: 0;
}
@media (min-width: 1000px) {
  .recipe-site {
    margin-inline: var(--site-margin);
  }
}

.recipe-site .recipes-wrapper {
  margin-inline: 0;
  margin-block-start: 2rem;
}

.recipe-site br {
  display: block;
  margin: 40px 0;
}

.recipe-site .see-more-button .line {
  width: 100%;
  height: 2px;
  background-color: #E7E7E7;
  align-self: center;
}

.recipe-site .see-more-button .left-line {
  width: 0;
}
@media (min-width: 1000px) {
  .recipe-site .see-more-button .left-line {
    grid-column: 1/span 4;
    width: auto;
  }
}

.recipe-site .see-more-button .right-line {
  width: 0;
}
@media (min-width: 1000px) {
  .recipe-site .see-more-button .right-line {
    grid-column: 9/span 4;
    width: auto;
  }
}

.recipe-site .see-more-button a {
  grid-column: 4/span 6;
}
@media (min-width: 1000px) {
  .recipe-site .see-more-button a {
    grid-column: 6/span 2;
  }
}

.recipe-site .newsletter-wrapper {
  width: 100vw;
  margin-inline: calc(-1 * var(--offset));
}
@media (min-width: 1000px) {
  .recipe-site .newsletter-wrapper {
    margin-inline: calc(-1 * var(--site-margin) - var(--offset));
  }
}

.recipe-site .newsletter-content {
  margin-inline: calc(var(--offset));
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  align-content: center;
}
@media (min-width: 1000px) {
  .recipe-site .newsletter-content {
    margin-inline: calc(1 * var(--site-margin) + var(--offset));
  }
}

.recipe-site .subscribe-section {
  grid-column: 2/span 10;
  text-align: center;
}
@media (min-width: 1000px) {
  .recipe-site .subscribe-section {
    grid-column: 1/span 5;
    text-align: left;
  }
}

.recipe-site .email {
  grid-column: 4/span 6;
}
@media (min-width: 1000px) {
  .recipe-site .email {
    grid-column: 6/span 3;
  }
}

.recipe-site .subscribe-button {
  grid-column: 4/span 6;
  font-size: 16px;
}
@media (min-width: 1000px) {
  .recipe-site .subscribe-button {
    grid-column: 10/span 3;
  }
}

.recipe-site .subscribe-button:hover {
  background-color: #e3cdb1;
  color: white;
}

.recipe-site .subscribe-section {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.recipe-site .recipes-wrapper .recipe-list-head {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
}

.recipe-site .recipes-wrapper .head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18x;
  color: #D0D0D0;
  display: flex;
  flex-direction: row;
  grid-column: 2/span 10;
}
@media (min-width: 1000px) {
  .recipe-site .recipes-wrapper .head {
    font-size: 25px;
    grid-column: 1/span 10;
  }
}

.recipe-site .recipes-wrapper .kicker {
  grid-column: 2/span 10;
}
@media (min-width: 1000px) {
  .recipe-site .recipes-wrapper .kicker {
    grid-column: 1/span 10;
  }
}

.recipe-site .recipes-wrapper .head .later-header {
  margin-inline-start: 1rem;
  color: #000000;
}

.newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  color: #fff;
  width: 100%;
  height: 339px;
}

.newsletter-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

h3 {
  font-size: 2em;
}

.subscribe-button {
  background-color: #000000;
  color: #e3cdb1;
  border: 1px solid hsl(34deg, 47%, 79%);
  height: 50px;
  padding: 0 5em;
}

.email-form {
  font-size: 1.25em;
  margin-top: 0.5em;
  color: white;
  border: 0px solid black;
  border-bottom: 1px solid white;
  background-color: #000000;
  padding: 1em;
  text-align: left;
  padding: 0 2em 0 0;
}

.subscribe-section {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.email > .kicker {
  color: #ffffff;
}

.kicker {
  color: hsl(34deg, 47%, 79%);
}

.newsletter-wrapper {
  width: 100vw;
}
@media (min-width: 1000px) {
  .newsletter-wrapper {
    margin-inline: calc(-1 * var(--site-margin) - var(--offset));
  }
}

.newsletter-content {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  align-content: center;
}
@media (min-width: 1000px) {
  .newsletter-content {
    margin-inline: calc(1 * var(--site-margin) + var(--offset));
  }
}

.subscribe-section {
  grid-column: 2/span 10;
  text-align: center;
}
@media (min-width: 1000px) {
  .subscribe-section {
    grid-column: 1/span 5;
    text-align: left;
  }
}

.email {
  grid-column: 4/span 6;
}
@media (min-width: 1000px) {
  .email {
    grid-column: 6/span 3;
  }
}

.subscribe-button {
  grid-column: 4/span 6;
  font-size: 16px;
}
@media (min-width: 1000px) {
  .subscribe-button {
    grid-column: 10/span 3;
  }
}

.subscribe-button:hover {
  background-color: #e3cdb1;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
