@charset "UTF-8";
:root {
  --spacing: 1rem;
  --max-width: 1400px;
  --color-primary: #f0f0f8;
  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;
  --font-base-body-px: #($font-base-body-px);
  --font-base-size: 1rem;
  --font-family-base: nunito, helvetica, arial, sans-serif;
  --font-family-heading: domine, georgia, serif;
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: 30px;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    width: 100%;
    padding-inline: 1rem;
}
.card {
    width: calc(100%/3);
}
.card-info{
    display: flex;
    flex-direction: row;
}
.card-text {
    display: flex;
    flex-direction: column;
}
.card-info a{

}
.card > .image {
    height: 300px;
  }