<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Card section component -->
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <img
            src="./images/Bitmap-5.png"
            alt="Sneið af köku á disk með rjóma á"
          />
        </div>
        <div class="card-info">
          <div class="card-text">
            <p class="month">September</p>
            <p class="desc">Pumpkin pie</p>
          </div>
          <a href="../../index.html" class="card-link">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="./images/image 1.png" alt="Matur" />
        </div>
        <div class="card-info">
          <div class="card-text">
            <p class="month">September</p>
            <p class="desc">Pumpkin pie</p>
          </div>
          <a href="../../index.html" class="card-link">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="images/Bitmap-3.png" alt="Matur" />
        </div>
        <div class="card-info">
          <div class="card-text">
            <p class="month">September</p>
            <p class="desc">Pumpkin pie</p>
          </div>
          <a href="../../index.html" class="card-link">Read more</a>
        </div>
      </div>
    </div>
    <!-- Card section component -->
  </body>
</html>
