@charset "UTF-8";
:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: 30px;
}
html {
  background: #fafafa;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  width: 100%;
  @media (min-width: 800px) {
    flex-direction: row;
  }
}
.card {
  width: 100%;
  @media (min-width: 800px) {
    width: calc(100% / 3);
  }
}
.card p {
  margin: 0;
}
.card-info {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 1rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.card-text .month {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #9b9b9b;
}
.card-text .desc {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

.card-info .card-link {
  display: grid;
  width: 50%;
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;
}
.card-info .card-link a {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #e3cdb1;
  font-size: 16px;
  text-align: right;
  width: 100%;
  padding-block-start: 1.5rem;
}
.card .card-image img {
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}
