.see-more-button-cards {
  text-align: center;
  margin-block-start: 3rem;
  margin-block-end: 5rem;
}
.see-more-button-cards a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #e3cdb1;
  padding-block: 1rem;
  padding-inline: 5rem;
  border: 2px;
  border-color: #e3cdb1;
  border-style: solid;
}
