body {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes-wrapper {
  margin-inline: 1rem;

  @media (min-width: 800px) {
    margin-inline: 6rem;
  }
}


