* {
  margin: 0;
  padding: 0;
}

:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: calc(var(--gutter));
}
.recipie {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 13rem;
}
.method h2 {
  margin-bottom: 2rem;
}
.ingredients h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
  color: #D0D0D0;
}
.ingredients h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;

  margin-bottom: 0.5rem;
}
.ingredients-list {
  margin-bottom: 2rem;
}
.ingredients-row {
  font-size: 2em;
  list-style-type: none;
  .number {
    display: inline-block;
    margin-right: 0.2em;
    color: #e3cdb1;
  }
  .item {
    font-size: 0.6em;
    color: #D0D0D0;
  }
  li {
    display: flex;
    align-items: center;
  }
}
.row1 {
  display: flex;
  flex-direction: column;
  font-family: playfair-display, serif;
  font-weight: 800;
  font-size: 18px;
  color: #e3cdb1;
  gap: 1rem;
}
.row2 {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #9b9b9b;
  gap: 1rem;
}
.method {
  max-width: 850px;
}
.method h2 {
  font-family: playfair-display, serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #d0d0d0;
}
.method p {
  font-family: 'Poppins';
  font-style: normal;
  margin-bottom: 2em;
  font-weight: 300;
  font-size: 18px;
  color: #5E5B69;
  line-height: 2em;
}

.see-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  a {
    font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #e3cdb1;
  padding-block: 1rem;
  padding-inline: 5rem;
  border: 2px;
  border-color: #e3cdb1;
  border-style: solid;
  }
}

.grey-text {
  color: #D0D0D0;
}