<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="recipies.css" />
    <link rel="stylesheet" href="grid.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- recipie section component -->
    <section class="recipie">
      <div class="ingredients">
        <div class="ingredients-list">
          <h2>Ingredients</h2>
          <h3>For the dough</h3>
          <p>1 tbs of water</p>
          <p>2 cups of flour</p>
          <p>2 eggs</p>
          <p>1 cup of sugar</p>
        </div>
        <div class="ingredients-list">
          <h3>For the filling</h3>
          <p>1 tbs of water</p>
          <p>2 cups of flour</p>
          <p>2 eggs</p>
          <p>1 cup of sugar</p>
        </div>
      </div>
      <div class="method">
        <h3>The method</h3>
        <p>
          Wrap the crackers in a tea towel and smash up until fine, breaking up
          any big bits with your hands, and put them into a large bowl. Finely
          chop the parsley, including the stalks. Add the parsley, mustard, if
          using, and minced beef to the bowl. Crack in the egg and add a good
          pinch of salt and pepper. With clean hands, scrunch and mix everything
          up well. Divide into 6 and pat and mould each piece into a roundish
          shape about 2cm thick. Drizzle the burgers with oil, put on a plate,
          cover and place in the fridge until needed (this helps them to firm
          up).
        </p>

        <p>
          Preheat a large griddle or frying pan for about 4 minutes on a high
          heat. Turn the heat down to medium. Place the burgers on the griddle
          or in the pan and use a spatula to lightly press down on them, making
          sure the burger is in full contact. Cook them to your liking for 3 or
          4 minutes on each side – you may need to cook them in two batches.
        </p>

        <p>
          Wash and dry a few small lettuce leaves, tearing up the larger ones.
          Slice the tomatoes. Peel and finely slice the red onion. Slice the
          gherkins lengthways as finely as you can. Place all this on a platter
          and put in the middle of the table with plates, cutlery, ketchup and
          drinks.
          <br />
          Remove your burgers to another plate and carefully wipe your pan or
          griddle clean with kitchen paper.
          <br />
          Halve your burger buns and lightly toast them on the griddle or in the
          pan. Also great with a chopped salad.
        </p>
      </div>
    </section>
  </body>
</html>
