<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="videoHeader.css" />
    <link rel="stylesheet" href="https://use.typekit.net/wvz7hwl.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- VideoHeader section component -->
    <div class="video-header">
        <div class="video-header-info">
            <div class="video-title">
                <h1>Pumpkin pie</h1>
            </div>
            <div class="recipe-icons">
                <div class="icon">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Level-Icon" clip-path="url(#clip0_0_131)">
                        <path id="Stroke 2399" fill-rule="evenodd" clip-rule="evenodd" d="M14.7111 3.77277C13.6385 3.40168 12.4683 3.97 12.0973 5.04361L11.6428 6.35613L10.6871 4.26179C9.28209 1.18432 6.50555 -0.564357 3.42605 0.840684C0.348586 2.24674 -0.150601 5.48891 1.25444 8.5674L6.14667 19.2862L15.5794 14.9806L14.521 12.6626L16.0704 6.02876C16.2219 5.04767 15.6505 4.0981 14.7111 3.77277V3.77277Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2400" fill-rule="evenodd" clip-rule="evenodd" d="M6.14844 19.286L15.5801 14.9814L16.7554 17.5536L7.32269 21.8582L6.14844 19.286V19.286Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2401" d="M22.3194 14.9811L23.4937 17.5533L14.061 21.8589L12.8867 19.2857" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2402" d="M18.5355 16.7086L22.3206 14.9813L21.2622 12.6633L22.8117 6.02846C22.9621 5.04737 22.3907 4.09882 21.4524 3.77246C20.3798 3.40138 19.2096 3.97071 18.8385 5.0433L18.384 6.35583L17.4274 4.2625C16.0223 1.18402 13.2458 -0.563644 10.1683 0.841397C9.65693 1.07421 9.21976 1.3599 8.84766 1.68727" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_0_131">
                        <rect width="24" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    <p>Easy recipe</p>
                </div>
                <div class="icon">
                    <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Servings-Icon" clip-path="url(#clip0_0_144)">
                        <path id="Stroke 2503" d="M20.9023 13.5H23.9023C23.9023 5.5 22.5023 0 21.1213 0H20.9023V20.5" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2504" d="M0.902344 1V5C0.902344 6.657 2.24534 8 3.90234 8C5.55834 8 6.90234 6.657 6.90234 5V1" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2505" d="M3.40234 1V20.5" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2506" fill-rule="evenodd" clip-rule="evenodd" d="M18.9023 14C18.9023 17.59 15.9923 20.5 12.4023 20.5C8.81234 20.5 5.90234 17.59 5.90234 14C5.90234 10.41 8.81234 7.5 12.4023 7.5C15.9923 7.5 18.9023 10.41 18.9023 14V14Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linejoin="round"/>
                        <path id="Stroke 2507" fill-rule="evenodd" clip-rule="evenodd" d="M12.4032 17.4844C12.4032 17.4844 15.7732 15.0574 15.7732 13.2594C15.7732 11.1854 13.0162 10.5304 12.4032 13.0524C11.7902 10.5304 9.0332 11.1854 9.0332 13.2594C9.0332 15.0574 12.4032 17.4844 12.4032 17.4844V17.4844Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_0_144">
                        <rect width="24" height="21" fill="white" transform="translate(0.402344)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    <p>6 people</p>
                </div>
                <div class="icon">
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Preparation-Icon" clip-path="url(#clip0_0_138)">
                        <path id="Stroke 2403" fill-rule="evenodd" clip-rule="evenodd" d="M14.9771 20.5901L8.68555 14.2997L22.4462 0.539032C25.9833 4.07732 21.66 13.906 14.9771 20.5901V20.5901Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2404" fill-rule="evenodd" clip-rule="evenodd" d="M8.68555 14.2994L21.1652 1.82202C22.1637 6.06085 18.6177 13.421 13.3836 18.9975L8.68555 14.2994V14.2994Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 2405" fill-rule="evenodd" clip-rule="evenodd" d="M11.8313 17.4442L8.68661 14.2995L1.61115 21.3761C0.741594 22.2445 0.741594 23.6523 1.61115 24.5208C2.02814 24.9377 2.59413 25.1724 3.18348 25.1724C3.77393 25.1724 4.33881 24.9377 4.7558 24.5208L11.8313 17.4442V17.4442Z" stroke="#E3CDB1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_0_138">
                        <rect width="24" height="26" fill="white" transform="translate(0.402344 0.15329)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                    <p>1 hour</p>
                </div>
            </div>
            <div class="video-header-text">
                <p>Pumpkin pie is a sweet dessert pie with a spiced, 
                    pumpkin-based custard filling. 
                    The pumpkin is a symbol of harvest time, 
                    and pumpkin pie is often eaten during the fall and early winter.</p>
            </div>
        </div>
        <div class="play-button">
            <a class="triangle"></a>
        </div>
    </div>
    <!-- VideoHeader section component -->
  </body>
</html>
