/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  
    /* Lætur skroll innan síðu taka tíma */
    scroll-behavior: smooth;
  }
  
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* Breytur sem skal nota */
  
  :root {
    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;
    /* Hámarksbreidd á efni */
    --max-width: 1600px;
  
    --color-primary: #f0f0f8;
  
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;
  
    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
  
    /* Grid stillingar */
    --columns: 12;
    --gutter: 30px;
    --offset: 155px;
  }

.hero-section {
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    background: #fafafa;
    /* max-width: 1600px; */
    gap: 1rem;
}

nav {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
}

.yum-yum {
    margin: 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: #9B9B9B;

}

.nav-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.text-section {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.kicker {
    color: #e3cdb1;
}

button {
    color: #E3CDB1;
    background-color: #fafafa;
    border: 1px solid #E3CDB1;
    width: 50%;
    padding: 0.5rem;
    /* stærð 2 dálkar + 2*gutter */
}

button:hover {
    background-color: #E3CDB1;
    color: white;
}

.img-section {
    width: 50%;
}

img {
    filter: drop-shadow( 0px 2px 74px rgba(0, 0, 0, 0.102893));
}