/*

  .hero-main-info-boxes {
    display: grid;
    gap: calc(var(--spacing) * 1);
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    min-height: 100vh;
    width: calc(100% - 2 * var(--offset));
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: calc(var(--gutter));*/
/* row-gap: var(--gutter); */
/*   row-gap: 0;
  }

.hero-section-info-left {
    background: #fafafa;
    display: grid;
    gap: calc(1 * var(--gutter));
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--gutter);
}

.hero-flex {
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing) * 2);
    gap: var(--gutter);
    grid-column: 1 / span 12;
}

nav {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
}

.yum-yum {
    margin: 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: #9B9B9B;

}

.nav-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.text-section {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.kicker {
    color: #e3cdb1;
}*/

/*button {
    color: #E3CDB1;
    background-color: #fafafa;
    border: 1px solid #E3CDB1;
    width: 50%;
    padding: 0.5rem;
    /* stærð 2 dálkar + 2*gutter */
/*}

.img-section {
    width: 50%;
}

img {
    filter: drop-shadow( 0px 2px 74px rgba(0, 0, 0, 0.102893));
}*/

/* info myndir í medium minnka ekki í miðjuna */

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1600px;

  --color-primary: #fafafa;

  --color-header: #fff;
  --color-text: #000;
  --color-body: #5e5b69;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-p: 18px;
  --font-base-size: 1rem;
  --font-base-kicker: 16px;
  --font-base-h2: 60px;
  --font-base-nav: 12px;
  --font-family-base: "Poppins", sans-serif;
  --font-family-heading: "Playfair Display", serif;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 155px;
}

header {
  background-color: var(--color-primary);
  height: 800px;
}

/* Almennt */

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  order: 2;
  overflow: hidden;
}

.yum-yum {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: calc(var(--gutter));
  /* row-gap: var(--gutter); */
  row-gap: 0;
  margin-top: 1rem;
  /* grid-column: 1 / span 2; */
}

.links {
  display: flex;
  flex-direction: row;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: calc(var(--gutter));
  /* row-gap: var(--gutter); */
  row-gap: 0;
  margin-top: 2rem;
  /* grid-column: 7 / span 2; */
  font-size: var(--font-base-nav);
  /* margin-left: ; */
  font-family: var(--font-family-base);
  color: #9b9b9b;
  font-weight: 400;
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-base-h2);
  font-weight: 700;
  color: #000;
}

p {
  font-family: var(--font-family-base);
  font-size: var(--font-base-p);
  font-weight: 300;
  color: var(--color-body);
}

.kicker {
  font-family: var(--font-family-base);
  font-size: var(--font-base-kicker);
  font-weight: 500;
  color: #e3cdb1;
}

img {
  filter: drop-shadow(0px 2px 74px rgba(0, 0, 0, 0.102893));
}

.img-section {
  width: 50%;
  height: 50%;
}

.button {
  display: inline-block;

  /* font-family: var(--font-family-base); */
  text-decoration: none;

  text-align: center;
  color: #e3cdb1;
  background-color: #fafafa;
  border: 1px solid #e3cdb1;
  width: 50%;
  padding: 0.5rem;
  /* stærð 2 dálkar + 2*gutter */
}

.button:hover {
  background-color: #e3cdb1;
  color: white;
}

/* Layout */

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  margin: 0 auto;
  gap: var(--gutter);
  /* color: var(--color-primary); */
}

header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: var(--gutter);

  /* min-height: 100vh; */
  max-width: var(--max-width);

  margin-right: auto;
  margin-left: auto;
  width: calc(100% - (2 * var(--offset)));
}

.info-boxes {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  margin-top: 5rem;
}

/* Info blokk */

.info {
  display: flex;
  flex-direction: row;
  gap: var(--gutter);
  grid-column: 1 / span 12;
}

.info-left .content {
  /* order: -1; */
  flex: 1;
}

.info .content p {
  margin-bottom: calc(var(--spacing) * 2);
  color: #5e5b69;
}

/* .info .kicker {
    color: #e3cdb1;
    /* font-size: var(--font-base-kicker); 
    /* font-family: var(--font-family-base); 
} */

.hero-content {
  width: 50%;
}

.info-boxes {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: calc(var(--gutter));
  /* row-gap: var(--gutter); */
  row-gap: 0;
}
