<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hero.css">
    <link rel="stylesheet" href="../grid.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <div class="yum-yum">yum&yum</div>
        <div class="links">
            <div class="nav-links">Recipies</div>
            <div class="nav-links">Videos</div>
            <div class="nav-links">About us</div>
        </div>
    </nav>
    <div class="hero-section">
        <div class="text-section">
            <div class="kicker">Our latest recipe</div>
            <h2 class="heading">Pumpkin pie</h2>
            <p>
                Pumpkin pie is a sweet dessert pie with a spiced, pumpkin-based custard filling. The pumpkin is a symbol of harvest time, and pumpkin pie is often eaten during the fall and early winter.
            </p>
            <button>See more</button>
        </div>
        <div class="img-section">
            <img src="../../images/cake.png">
        </div>
    </div>
</header>

<body>
</body>

</html>