<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Hópaverkefni 1</title>
    <link rel="stylesheet" href="hero.css">
    <link rel="stylesheet" href="../grid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;500&display=swap"
        rel="stylesheet">
</head>
<header>
    <div class="wrapper">
        <nav>
            <div class="yum-yum">yum&yum</div>
            <div class="links">
                <div class="nav-links">Recipies</div>
                <div class="nav-links">Videos</div>
                <div class="nav-links">About us</div>
            </div>
        </nav>
        <main id="lorem-ipsum">
            <div class="info-boxes">
                <section class="info info-left">
                    <div class="content">
                        <div class="kicker">Our latest recipe</div>
                        <h2>Pumpkin pie</h2>
                        <p>
                            Pumpkin pie is a sweet dessert pie with a spiced, pumpkin-based custard filling. The pumpkin
                            is a symbol of harvest time, and pumpkin pie is often eaten during the fall and early
                            winter.
                        </p>
                        <p><a href="" class="button">See more</a></p>
                    </div>
                    <div class="img-section">
                        <img src="../../images/cake.png" alt="Photo of a cake">
                    </div>
                </section>

        </main>

    </div>

</header>

<body></body>
</html>