<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hero.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <div class="yum-yum">yum&yum</div>
        <div class="links">
            <div class="nav-links">Recipies</div>
            <div class="nav-links">Videos</div>
            <div class="nav-links">About us</div>
        </div>
    </nav>
    <div class="hero-section">
        <div class="text-section">
            <div class="kicker"></div>
            <h2 class="heading"></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ea
                et! Animi omnis neque tempore deserunt sapiente adipisci? Aliquam,
                at. Sit, eaque sint provident non sequi quas nemo rem in!
            </p>
            <button></button>
        </div>
        <div class="img-section"></div>
    </div>
</header>

<body>
    halló halló hér er hero branch!!
</body>

</html>