.img-overlay-wrap {
  display: inline-block; /* <= shrinks container to image size */
  position: relative;
  transition: transform 150ms ease-in-out;
}
  
.img-overlay-wrap svg {
  left: 0;
  position: absolute;
  top: 0;
}
