<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="book.css" />
    <link rel="stylesheet" href="https://use.typekit.net/wvz7hwl.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="spacer"></div>
    <!-- Aðeins fyrir hvítan bakgrunn -->
    <div class="book-wrapper">
    <!-- Book section component -->
    <div class="book-section">
      <div class="content">
        <div class="kicker">Announcement time</div>
        <h1 class="book-heading">Our book is out</h1>
        <p class="book-text">
          Pumpkin pie is a sweet dessert pie with a spiced, pumpkin-based
          custard filling. The pumpkin is a symbol of harvest time, and pumpkin
          pie is often eaten during the fall and early winter.
        </p>
        <div class="see-more-button">
          <a href="../index.html">See more</a>
        </div>
      </div>
      <div class="image">
        <img src="../../images/Bitmap-3.png" alt="" />
      </div>
    </div>
  </div>

  <div class="spacer"></div>

    <!-- Book section component -->
  </body>
</html>
