.book-section {
  display: flex;

  margin-block-end: 15rem;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
  align-items: center;
}
.book-section .see-more-button{
  @media (min-width: 800px) {
    text-align: left;
  }
}

h1 {
  font-size: xx-large;
  align-self: center;
}

.content {
  background-color: #f7f1eb;
  width: 100%;
  height: 500px;
  align-items: center;
}

.content-text {
  padding: 5rem 10rem 5rem 10rem;
  align-items: center;
}

.image {
  position: relative;
  top: -100px;
  justify-content: space-around;
  @media (min-width: 800px) {
    position: relative;
    left: 10%;
    top: 7%;
  }

}
.book-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-block: 0;
}

.book-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #5e5b69;
}
