.book-wrapper {
  background-color: #f7f1eb;
  padding: 5rem;
  height: 350px;
}


.book-section {
  display: flex;
}


.content-text {
  padding: 5rem 10rem 5rem 10rem;
  align-items: center;
}


.book-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-block: 0;
}
