<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="https://use.typekit.net/wvz7hwl.css" />
    <title>Document</title>
  </head>
  <body></body>
  <footer>
    <hr />
    <div class="footer-text">
      <p>Come and join us for more recipes</p>
    </div>
    <div class="footer-inconlinks">
      <div class="iconborder">
        <img src="../../images/fb.svg" alt="facebook icon"/>
      </div>
      <div class="iconborder">
        <img src="../../images/twitter.svg" alt="twitter icon"/>
      </div>
      <div class="iconborder">
        <img src="../../images/youtube.svg" alt="youtube icon"/>
      </div>
    </div>
    <div class="site-name">
      <p>yamyam.com</p>
    </div>
  </footer>
</html>
