.latest-recipies-titlelist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.latest-recipies-checkbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  margin-top: 1rem;
}

.latest-recipies-checkbox p {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.latest-recipies-checkbox input {
  background: transparent;
  height: 22px;
  margin-right: 1rem;
  width: 22px;
}

.latest-recipies-head h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.latest-recipes .recipes-wrapper {
  margin-block-start: 5rem;
  margin-inline: 1rem;

  @media (min-width: 800px) {
    margin-inline: 6rem;
  }
}
nav {
  position: fixed;
  top: 0;
}

.latest-recipes-main {
  display: grid;
  gap: var(--vertical-space);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: var(--vertical-space) auto;
  max-width: var(--max-width);
  width: calc(100% - 2 * var(--offset));
}

.latest-recipe-site .newsletter-wrapper {
  @media (min-width: 1000px) {
    margin-inline: calc(-1 * var(--site-margin) - var(--offset));
  }
  width: 100vw;
  margin-inline: calc(-1 * var(--offset));
}
.latest-recipe-site .newsletter-content {
  @media (min-width: 1000px) {
    margin-inline: calc(1 * var(--site-margin) + var(--offset));
  }
  margin-inline: calc(var(--offset));
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  align-content: center;
}
.latest-recipe-site .subscribe-section {
  @media (min-width: 1000px) {
    grid-column: 1 / span 5;
    text-align: left;
  }
  grid-column: 2 / span 10;
  text-align: center;
}
.latest-recipe-site .email {
  @media (min-width: 1000px) {
    grid-column: 6 / span 3;
  }
  grid-column: 4 / span 6;
}
.latest-recipe-site .subscribe-button {
  @media (min-width: 1000px) {
    grid-column: 10 / span 3;
  }
  grid-column: 4 / span 6;
  font-size: 16px;
}
.latest-recipe-site .subscribe-button:hover {
  background-color: #e3cdb1;
  color: white;
}
.latest-recipe-site .subscribe-section {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
